<table>
	<tr><td>Nome</td><td><input type='text' name='nome' id='nome'></td></tr>
	<tr><td>CRM</td><td><input type='text' name='crm' id='crm'> </td></tr>
	<tr><td>Telefone</td><td><input type='text' name='telefone' id='telefone'></td></tr>
	<tr><td><input type="button" value='ok' id='ok'></td></tr>
</table>