<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title>Unimed</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link href="/stylesheets/reset.css" rel="stylesheet">


	</head>
	<body>
		<%- include("comum/header",{tipo:"home"}) %>

		<section class="container">
			
		</section>
		<%- include("comum/footer") %>
		<%- include("comum/javascripts") %>
	</body>
</html>