<table>
	<tr><td>Nome</td><td><input type='text' name='nome' id='nome'></td></tr>
	<tr><td>Resumo</td><td><textarea rows="10" cals="50" id="resumo" name="resumo"> <%= laudo.resumo %></textarea></td></tr>
	<tr><td>Receita</td><td><textarea rows="10" cals="50" id="receita" name="receita"> <%= laudo.receita %></textarea></td></tr>
	<tr><td>Medico</td><td><input type='text' name='medico' id='medico'></td></tr>
	<tr><td><input type="button" value='ok' id='ok'></td></tr>
</table>