<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<title>Usuários</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
		<link href="/stylesheets/reset.css" rel="stylesheet">


	</head>
	<body>
		<%- include("../comum/header",{tipo:"usuario"}) %>

		<section class="container">
			<p><a href="/orcamento" class="botao">Usuários</a></p>
			<table class="tabela">
				<tr>
					<td class="campo">Nome</td>
					<td class="campo">Login</td>	
					<td class="campo">Senha</td>	
				</tr>

				<tr>
					<td>1</td>	
					<td>2</td>	
					<td>3</td>	
				</tr>		
			</table>
		</section>
		<%- include("../comum/footer") %>
	</body>
</html>